<div class="container">
    <a href="/" class="btn btn-primary mb-3">Main</a>
    <a href="/database" class="btn btn-primary mb-3">Database</a>
    <a href="/nanoparticles" class="btn btn-primary mb-3">Nanoparticles</a>
    <a href="/coronas" class="btn btn-primary mb-3">Coronas</a>
    <a href="/proteins" class="btn btn-primary mb-3">Proteins</a>
    <a href="/api/np/get" class="btn btn-primary mb-3" target="_blank" >DB JSON</a>
    <a href="/add_nanoparticle" class="btn btn-primary mb-3">Add nanoparticle</a>
    <a href="/api_documentation" class="btn btn-primary mb-3">Programmatic access</a>
</div>