<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    {% include "common_head_scripts.html" %}
    <title>Proteins</title>
    <style>
        #table-container {
            width: 95%;
            margin: 0 auto;
        }
    </style>
</head>

<body>
    {% include "common_buttons.html" %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center my-1">Proteins Data</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div id="table-container">
                    <table id="proteins-table" class="table table-striped" style="width:100%">
                        <thead>
                            <tr>
                                <th>Nanoparticle Type</th>
                                <th>Protein</th>
                                <th>RPA</th>
                                <th>Experiment Type</th>
                                <th>Exposure Time</th>
                                <th>Protein source</th>
                                <th>Article DOI</th>
                                <th>Nanoparticle ID</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for protein in proteins %}
                            <tr>
                                <td>{{ protein.nanoparticle_type }}</td>
                                <td>{{ protein.protein_name }}</td>
                                <td>{{ protein.rpa }}</td>
                                <td>{{ protein.experiment_type }}</td>
                                <td>{{ protein.exposure_time }}</td>
                                <td>{{ protein.protein_source }}</td>
                                <td>{{ protein.doi }}</td>
                                <td><a href="{{ url_for('get_nanoparticle_page', id=protein.np_id) }}">{{ protein.np_id }}</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% include "common_body_scripts.html" %}
    <script>
        $(document).ready(function () {
            var table = $('#proteins-table').DataTable({
                "scrollY": "70vh",
                "scrollX": false,
                "scrollCollapse": true,
                "paging": false,
                "searching": true,
                "info": true,
                "dom": 'Bfrtip',
                "buttons": [
                    "copy",
                    {
                      "extend": 'csvHtml5',
                      "text": 'CSV',
                      "titleAttr": 'Download as CSV',
                      "exportOptions": {
                        "columns": ':visible'
                      },
                      "title": 'Proteins_Table'
                    }
                ]
            });
        });
    </script>
</body>

</html>