<!DOCTYPE html>
<html>
  <head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
    <script>
      $(document).ready(function() {
        $('#protein-table').DataTable({
          "scrollY": "200px",
          "scrollCollapse": true,
          "paging": false,
          "ordering": true,
          "info": false
        });
      });
    </script>
  </head>
  <body>
    <table id="protein-table">
      <thead>
        <tr>
          <th>Experiment Type</th>
          <th>Exposure Time</th>
          <th>Protein</th>
          <th>RPA</th>
          <th>Nanoparticle Type</th>
        </tr>
      </thead>
      <tbody>
        {% for protein in proteins %}
        <tr>
          <td>{{ protein.experiment_type }}</td>
          <td>{{ protein.exposure_time }}</td>
          <td>{{ protein.protein_name }}</td>
          <td>{{ protein.rpa }}</td>
          <td>{{ protein.nanoparticle_type }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>